@{
    ViewData["Title"] = "Dashboard Cliente";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    
}


<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="https://i.pinimg.com/1200x/5b/37/d5/5b37d5eadc182305b63527d7466fe3e2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-white text-uppercase mb-md-3">Renta de Carros</h4>
                        <h1 class="display-3 text-white mb-md-4">Descubre el carro ideal para ti</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Ver Carros</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="https://i.pinimg.com/1200x/e9/66/a2/e966a210e8b1252edee34057b57cf1d7.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-white text-uppercase mb-md-3">Renta de Carros</h4>
                        <h1 class="display-3 text-white mb-md-4">Descubramos lugares increible juntos</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Ver Carros</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="https://i.pinimg.com/1200x/fa/8f/2e/fa8f2ebcec333e0935633a6a70b44ef6.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-white text-uppercase mb-md-3">Renta de Carros</h4>
                        <h1 class="display-3 text-white mb-md-4">Carros para toda ocasión</h1>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Ver Carros</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://i.pinimg.com/736x/84/45/be/8445be42a76e0641a603608a280d2a95.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Acerca de Nosotros</h6>
                    <h1 class="mb-3">La mejor opcion para renta de carros</h1>
                    <p>
                        Encuentra el carro perfecto para tus necesidades con nuestro servicio de renta de carros. 
                        Ya sea para un viaje de negocios, unas vacaciones en familia o un paseo rápido por la ciudad, 
                        ofrecemos opciones flexibles de renta por día, semana o mes. Con precios competitivos y un proceso
                        de reserva sencillo, tendrás tu carro listo en poco tiempo. ¡Disfruta de la libertad de moverte a tu ritmo!
                    </p>
                    <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid" src="https://i.pinimg.com/736x/26/c7/63/26c763057c3239dcb36ea8b63c46c0e8.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="https://i.pinimg.com/736x/d6/08/1f/d6081ff6d97f1f19e658dac35a3e4b4c.jpg" alt="">
                        </div>
                    </div>
                    <a href="" class="btn btn-primary mt-1">Reserva Ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->



<!-- Tipos de Carro -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Vehiculos</h6>
            <h1>Explora en nuestro catalogos de vehiculos</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="https://i.pinimg.com/1200x/a0/5a/aa/a05aaa6f1a29049aa92b7d5454e1fb36.jpg" alt="" style="width: 942px; height: 400px;">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Economicos-Ciudad</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="https://i.pinimg.com/1200x/4d/ce/e4/4dcee427b55d2d7079b7dd788edbc2ab.jpg" alt="" style="width: 942px; height: 400px;">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Carros para eventos</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="https://i.pinimg.com/1200x/9b/f9/ca/9bf9cad15b03604b6d248b2f1b0f3dd8.jpg" alt="" style="width: 942px; height: 400px;">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Camionetas Todo Terreno</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="https://i.pinimg.com/1200x/0c/f3/cf/0cf3cfeb3d172f496cb4d930ce449c8d.jpg" alt="" style="width: 942px; height: 400px;">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Familiares</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="https://i.pinimg.com/1200x/ee/68/99/ee689969bc63f913d6e3a922e25f3315.jpg" alt="" style="width: 942px; height: 400px;">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Carros de lujo</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="https://i.pinimg.com/1200x/20/cf/ec/20cfec4eef3302972dc5e11735cf2ebb.jpg" alt="" style="width: 942px; height: 400px;">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Vans</h5>
                        <span>100 Cities</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Servicios -->

<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Servicios</h6>
            <h1>RentCar Services</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-car mx-auto mb-4"></i>
                    <h5 class="mb-2">Renta de Carros</h5>
                    <p class="m-0">Renta un carro por día, semana o mes. Ideal para viajes, paseos o compromisos. Proceso rápido y precios competitivos. ¡Muévete con libertad!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-shield-alt mx-auto mb-4"></i>
                    <h5 class="mb-2">Seguros</h5>
                    <p class="m-0">Viaja sin preocupaciones. Nuestro seguro cubre daños, robo y responsabilidad civil. Todo incluido en tu renta. ¡Tu seguridad es primero!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-car mx-auto mb-4"></i>
                    <h5 class="mb-2">Flota Variada y de Último Modelo</h5>
                    <p class="m-0">Elige entre carros económicos, SUVs o de lujo. Todos son de último modelo y en excelente estado. ¡Encuentra el carro perfecto para ti!</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/usuario.js"></script>
<script src="~/js/queries.js"></script>