
@{
    ViewData["Title"] = "ReservasAdmin";
}

<<div class="container-fluid booking mt-5 pb-5">
    <div class="card shadow-lg">

        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Lista de Reservas</h5>
        </div>
        <div class="card-body">
            <div id="divTable"></div> <!-- Aquí se cargará la tabla -->
        </div>
    </div>
</div>

<script src="~/js/queries.js"></script>
<script src="~/js/reservasAdmin.js"></script>

