
@{
    ViewData["Title"] = "Clientes";
}

<div class="content">



    <div class="card shadow-lg">

        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Lista Clientes</h5>
        </div>
        <div class="card-body">
            <div id="divTableClientes"></div> <!-- Aquí se cargará la tabla -->
        </div>
    </div>


</div>



<script src="~/js/queries.js"></script>
<script src="~/js/clientes.js"></script>
