
@{
    ViewData["Title"] = "Index";
}

<div class="content">

    
    
    <div class="card shadow-lg">

        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Lista Empleados</h5>
        </div>
        <div class="card-body">
            <div id="divTableEmpleados"></div> <!-- Aquí se cargará la tabla -->
        </div>
    </div>

    
    
</div>



<script src="~/js/queries.js"></script>
<script src="~/js/cliente-empleado.js"></script>
